<a href="https://colab.research.google.com/github/majidali321/project-6-OOP/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Assignment 1**

In [ ]:
class Student:
  def __init__(self,marks,name):
    self.marks = marks
    self.name = name

  def display(self):
      print(f"Name : {self.name}")
      print(f"Marks : {self.marks}")
student1 = Student(90,"Majid")
student1.display()

Name : Majid
Marks : 90

**Assignment** **2**

In [ ]:
class Counter:
  count = 0

  def __init__(self):
      Counter.count += 1

  @classmethod
  def display_count(cls):
      print(f"Number of objects created: {cls.count}")
obj1 = Counter()
obj2 = Counter()
obj3 = Counter()

Counter.display_count()

Number of objects created: 3

**Assignment 3**

In [ ]:
class Car:
  def __init__(self, brand):
    self.brand = brand

  def start(self):
    print("Car started!")

my_car = Car("Toyota")
print(my_car.brand)
my_car.start()

Toyota
Car started!

Assignment 4

In [ ]:
class Bank:
  bank_name = "Alfalah Bank"

  def __init__(self, account_number):
    self.account_number = account_number

  @classmethod
  def change_bank_name(cls, name):
    cls.bank_name = name

  def display_bank_info(self):
    print(f"Account Number: {self.account_number}, Bank Name: {Bank.bank_name}")

account1 = Bank("12345")
account2 = Bank("67890")

print("Before changing bank name:")
account1.display_bank_info()
account2.display_bank_info()

Bank.change_bank_name("HBL")

print("\nAfter changing bank name:")
account1.display_bank_info()
account2.display_bank_info()

account3 = Bank("112233")
account3.display_bank_info()

Before changing bank name:
Account Number: 12345, Bank Name: Alfalah Bank
Account Number: 67890, Bank Name: Alfalah Bank

After changing bank name:
Account Number: 12345, Bank Name: HBL
Account Number: 67890, Bank Name: HBL
Account Number: 112233, Bank Name: HBL

**Assignment 5**

In [ ]:
class MathUtils:
  @staticmethod
  def add(a, b):
    return a + b

MathUtils.add(5, 3)

8

**Assignment 6**

In [ ]:
class Logger:
  def __init__(self):
    print("Logger object created")

  def __del__(self):
      print("Logger object destryed")
logger_instance = Logger()
del logger_instance

Logger object created
Logger object destryed

**Assignment 7**

In [ ]:
class Employee:
  def __init__(self, name, salary, ssn):
    self.name = name
    self._salary = salary
    self.__ssn = ssn

employee1 = Employee("Majid ali", 500000000, "123-45-678")

print(f"Accessing public variable 'name': {employee1.name}")

print(f"Accessing protected variable '_salary': {employee1._salary}")

try:
  print(f"Attempting to access private variable '__ssn' directly: {employee1.__ssn}")
except AttributeError as e:
  print(f"Error accessing private variable '__ssn' directly: {e}")

print(f"Accessing private variable '__ssn' using name mangling: {employee1._Employee__ssn}")

Accessing public variable 'name': Majid ali
Accessing protected variable '_salary': 500000000
Error accessing private variable '__ssn' directly: 'Employee' object has no attribute '__ssn'
Accessing private variable '__ssn' using name mangling: 123-45-678

**Assignment 8**

In [ ]:
class Person:
  def __init__(self, name):
    self.name = name

class Teacher(Person):
  def __init__(self, name, subject):
    super().__init__(name)
    self.subject = subject

# Example usage:
teacher1 = Teacher("Sir Zia", "Agentic Ai")
print(f"Teacher name: {teacher1.name}")
print(f"Teacher subject: {teacher1.subject}")

Teacher name: Sir Zia
Teacher subject: Agentic Ai

**Assignment 9**

In [ ]:
import abc
class Shape(abc.ABC):
  @abc.abstractmethod
  def area(self):
    pass

class Square(Shape):
  def __init__(self,width,height):
    self.height = height
    self.width = width

  def area(self):
      return self.width * self.height


square = Square(4,5)
print(f"Area of square: {square.area()}")

Area of square: 20

Assignment 10

In [ ]:
class Dog:
  def __init__(self, name, breed):
    self.name = name
    self.breed = breed

  def bark(self):
    print(f"{self.name} says Woof!")

my_dog = Dog("Buddy", "Golden Retriever")
print(f"Dog's name: {my_dog.name}")
print(f"Dog's breed: {my_dog.breed}")
my_dog.bark()

Dog's name: Buddy
Dog's breed: Golden Retriever
Buddy says Woof!

**Assignment 11**

In [1]:
class Book:
  total_books = 0

  def __init__(self, title):
    self.title = title
    Book.increment_book_count()

  @classmethod
  def increment_book_count(cls):
    cls.total_books += 1

book1 = Book("Pak Studies")
book2 = Book("Wealthy Man")
book3 = Book("Rich dad poor dad")

print(f"Total number of books: {Book.total_books}")

Total number of books: 3

**Assignment 12**

In [3]:
class TemperatureConverter:
  @staticmethod
  def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

fahrenheit_value = TemperatureConverter.celsius_to_fahrenheit(25)
print(f"25 Celsius = {fahrenheit_value} Fahrenheit.")

25 Celsius = 77.0 Fahrenheit.

**Assignment 13**

In [4]:
class Engine:
  def start_engine(self):
    return "Engine started!"

class Car:
  def __init__(self, engine):
    self.engine = engine

  def start(self):
    return self.engine.start_engine()

my_engine = Engine()

my_car = Car(my_engine)

print(my_car.start())

Engine started!

**Assignment 14**

In [6]:
class Employee:
  def __init__(self, name, employee_id):
    self.name = name
    self.employee_id = employee_id

  def display_employee_info(self):
    print(f"Employee Name: {self.name}, Employee ID: {self.employee_id}")


class Department:
  def __init__(self, department_name, employee):
    self.department_name = department_name
    self.employee = employee

  def display_department_info(self):
    print(f"Department Name: {self.department_name}")
    print("Department Head:")
    self.employee.display_employee_info()

employee1 = Employee("Majid", "T001")

hr_department = Department("Agentic ai dept", employee1)

hr_department.display_department_info()

print("\nEmployee object still exists:")
employee1.display_employee_info()

Department Name: Agentic ai dept
Department Head:
Employee Name: Majid, Employee ID: T001

Employee object still exists:
Employee Name: Majid, Employee ID: T001

**Assignment 15**

In [7]:
class A:
    def show(self):
        print("A's show() method")
class B(A):
    def show(self):
        print("B's show() method")
class C(A):
    def show(self):
        print("C's show() method")
class D(B, C):
    pass
# Create object of D
d = D()
d.show()

# Show MRO
print("MRO of class D:", D.__mro__)

B's show() method
MRO of class D: (<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>)

**Assignment 16**

In [8]:
def log_function_call(func):
  def wrapper(*args, **kwargs):
    print("Function is being called")
    return func(*args, **kwargs)
  return wrapper

@log_function_call
def say_hello():
  print("Hello!")

say_hello()

Function is being called
Hello!

**Assignment 17**

In [9]:
def add_greeting(cls):
    def greet(self):
        return "Hello from Decorator!"

    cls.greet = greet
    return cls

@add_greeting
class Person:
    def __init__(self, name):
        self.name = name

p = Person("Majid")
print(p.greet())

Hello from Decorator!

**Assignment 18**

In [10]:
class Product:
    def __init__(self, price):
        self._price = price

    @property
    def price(self):
        print("Getting price...")
        return self._price
    @price.setter
    def price(self, value):
        if value < 0:
            print("Price cannot be negative!")
        else:
            print("Setting price...")
            self._price = value
    @price.deleter
    def price(self):
        print("Deleting price...")
        del self._price
p = Product(100)
print(p.price)
p.price = 150
print(p.price)
del p.price

Getting price...
100
Setting price...
Getting price...
150
Deleting price...

**Assignment 19**

In [11]:
class Multiplier:
    def __init__(self, factor):
        self.factor = factor

    def __call__(self, value):
        return value * self.factor

double = Multiplier(2)
triple = Multiplier(3)

print(callable(double))

print(double(10))
print(triple(5))

True
20
15

**Assignment 20**

In [12]:
class InvalidAgeError(Exception):
    pass

def check_age(age):
    if age < 18:
        raise InvalidAgeError("Age must be 18 or older")
    else:
        print("Access granted")
try:
    age = int(input("Enter your age: "))
    check_age(age)
except InvalidAgeError as e:
    print("Error:", e)
except ValueError:
    print("Please enter a valid number.")

Enter your age: 20
Access granted

*Assignment 21*

In [13]:
class Countdown:
    def __init__(self, start):
        self.current = start

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < 0:
            raise StopIteration
        value = self.current
        self.current -= 1
        return value
for number in Countdown(5):
    print(number)

5
4
3
2
1
0